# ============================================
# NODE MODULES
# ============================================
node_modules/

# ============================================
# EXPO / REACT NATIVE / WEB BUILD
# ============================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro cache
.metro/
.metro-health-check*

# TypeScript build info
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# ============================================
# ANDROID / IOS (NATIVOS DO EXPO GO)
# Não subir nativas
# ============================================
android/
ios/

# ============================================
# CHAVES / CERTIFICADOS
# ============================================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ============================================
# EXEMPLOS / ARQUIVOS GERADOS
# ============================================
app-example
